<!-- typography -->
<div class="mat-display-4">Mat display 4</div>
<div class="mat-display-3">Mat display 3</div>
<div class="mat-display-2">Mat display 2</div>
<div class="mat-display-1">Mat display 1</div>
<mat-divider></mat-divider>

<div class="mat-headline">Mat heading for h1</div>
<div class="mat-title">Mat title for h2</div>
<div class="mat-subheading-2">Mat heading for h3</div>
<div class="mat-subheading-1">Mat heading for h4</div>
<mat-divider></mat-divider>

<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Bold Body text</div>
<div class="mat-caption">Caption text</div>
<mat-divider></mat-divider>

<div class="mat-typography">
  <h1>Heading h1</h1>
  <h2>Heading h2</h2>
  <h3>Heading h3</h3>
  <h4>Heading h4</h4>
</div>
