.list-content {
  margin: 20px;
}
mat-grid-tile{
  background-color: lightblue;
}
div {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 70%;
}
table{
  width: 100%;
}
mat-paginator{
  margin: auto;
}
h1{
  text-align: center;
}
.auto{
  width: 400px;
  margin: auto;
}
mat-form-field{
  width: 350px;
}
