<!-- Badges -->
<div class="toggle-btn">
  <span matBadge="5">Notification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgePosition="below after">otification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgePosition="above before" matBadgeSize="large">otification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgeSize="large">otification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgeColor="warn">Notification</span>
</div>
<mat-divider></mat-divider>

<div class="toggle-btn">
  <span matBadge="5" matBadgeOverlap="false" matBadgeColor="warn">Notification</span>
</div>
