mat-form-field{
  width: 450px;
}
mat-divider{
  width: 530px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.auto{
  width: 600px;
  margin: auto;
}
mat-checkbox, mat-radio-button{
  margin-right: 30px;
}
mat-card{
  margin: auto;
}
