<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item *ngFor="let m of menu">
        <mat-icon class="menu">{{m.icon}}</mat-icon><a routerLink="/{{ m.link }}">{{m.title}}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button mat-icon-button (click)="sidenav.toggle()" color="accent"
        aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="list-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
