<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular Material</mat-panel-title>
      <mat-panel-description>Basic practise of angulat material modules</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      This is panel content. Add angular material modules.
    </p>
    <mat-action-row>
      <button color="primary" mat-raised-button>Add</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular Material</mat-panel-title>
      <mat-panel-description>Basic practise of angulat material modules</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      This is panel content. Add angular material modules.
    </p>
    <mat-action-row>
      <button color="primary" mat-raised-button>Add</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
